button {
  cursor: pointer;
}

.NewTab {
  margin-block: 1rem;
  margin-inline: 1rem;
}

.Prompt {
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 0.75rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  display: flex;
  justify-content: center;
  /* width: 100vw; */
}

.Prompt-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: rgba(0, 0, 0, 0.85); */
  background-color: var(--background-weak);
  box-shadow: var(--box-shadow-primary-inset);
  z-index: 100;
}

.position-relative {
  position: relative;
}

.Prompt input {
  /* width: 100%; */
  /* border: '1px solid black'; */
  border-width: 0px;
  padding: 6px;
  /* border-radius: 0.25rem; */
  border-bottom-width: 2px;
  border-bottom-color: var(--primary);
  /* border-bottom-width: 2px;
  border-bottom-color: 'red';
  border-bottom-style: 'solid'; */
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 18px;
  font-family: monospace;
  margin-inline: 8rem;
  margin-block-end: 0.75rem;
}

.Prompt input:focus {
  outline: none;
}

.Prompt-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 55vw;
  max-width: 615px;
  max-height: 80vh;
  overflow: hidden;
  background-color: var(--background-weak);
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary-weak);
  padding-inline: 2rem;
  padding-block: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-primary);
}

mark {
  background-color: var(--primary-weak);
  color: white;
}

.Search-result {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  gap: 0.5rem;
  max-width: 95vw;
  border: 2px solid;
  border-radius: 0.25rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}

.BookmarkPrompt-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Bookmark-input-group {
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: baseline;
  gap: 0.5rem;
}

.Bookmark-input-group label {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 0.6;
  /* color: var(--primary); */
}

.Bookmark-input-group .text {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

.Bookmark-input-group label > :first-child {
  width: 55px;
  text-align: right;
}

.group-name-container {
  display: flex;
  justify-content: center;
}

.BookmarkPrompt-group-name {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary);
}

.Bookmark-input-group input {
  margin-inline: 0;
  /* width: 100%; */
}

.Search-result-text {
  text-wrap: nowrap;
}

.Search-result-divider {
  color: var(--primary);
}

.Search-result-link {
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.matches-number-display {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary);
  margin-block-start: 0.5rem;
}

.bookmark-groups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.bookmark-groups > div:not(:last-child) {
  border-inline-end-width: 1px;
  border-inline-end-style: solid;
  border-inline-end-color: var(--primary-weak);
}

.bookmark-groups > div {
  padding-inline-start: 1rem;
  padding-inline-end: 0.5rem;
}

h2 {
  text-decoration: underline;
  color: var(--primary);
}

.BookmarkEntry {
  position: relative;
  margin-block-end: 0.5rem;
  /* display: flex;
  gap: 0.3rem;
  align-items: stretch; */
}

.bookmark-link {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

@keyframes shakeX {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  /* 10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-6px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(6px, 0, 0);
  } */

  45% {
    transform: translate3d(-4px, 0, 0);
  }

  90% {
    transform: translate3d(4px, 0, 0);
  }
}

.shakeX {
  animation-name: shakeX;
  animation-duration: 0.08s;
}

.pop-out-menu-button {
  /* position: relative; */
}

.pop-out-menu-button-icon-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
}

.pop-out-menu-menu {
  position: absolute;
  bottom: -4.5rem;
  left: 1.5rem;
  z-index: 100;
  transition-duration: 0.15s;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--background);
  box-shadow: var(--box-shadow-primary);
  /* opacity: 0; */
}

button {
  all: unset;
  cursor: pointer;
  border-style: solid;
  border-color: var(--primary);
  background-color: var(--background);
  border-width: 1px;
  border-radius: 0.4rem;
  padding-inline: 0.6rem;
  padding-block: 0.1rem;
}

button:focus {
  outline: revert;
}

button:has(svg) {
  border-width: 0;
  padding-inline: 0;
  padding-block: 0;
}

.icon-button {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.bookmark-group {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
