:root {
  --background: rgb(36, 35, 37);
  --background-weak: rgba(24, 6, 17, 0.85);
  --foreground: white;
  --primary: rgb(230, 60, 159);
  --primary-weak: rgb(230, 60, 159, 0.55);
  --box-shadow-primary: 0px 0px 25px 0px rgb(230, 60, 159, 0.25);
  --box-shadow-primary-inset: inset 0px 0px 15px 0px rgb(230, 60, 159, 0.35);
}

body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  /* background-image: linear-gradient(to bottom, #081214, #ffffff); */
  background-color: rgb(36, 35, 37);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
